<div ng-controller="AddMovieController">
    <div style="padding-left:30%; padding-bottom:2%">

        <div class="list-group-item list-group-item-success" style="width:60%;">
        <div class="dropdown">
            <label for="singleSelect"> Single select: </label><br>
            <select name="singleSelect" ng-model="notifyObject.rank">
                <option value="1">Rank: 1</option>
                <option value="2">Rank: 2</option>
                <option value="3">Rank: 3</option>
                <option value="4">Rank: 4</option>
                <option value="5">Rank: 5</option>
                <option value="6">Rank: 6</option>
            </select>
        </div>
            <div>
                <label for="pwd">Add opinion:</label><br />
                <textarea style="width:520px; " rows="5" ng-model="notifyObject.message"></textarea>
                    <div>
                        <button ng-click="notifyUser(notifyObject)" class="btn btn-success" style="width:100px;">Add</button>
                    </div>
            </div>
            <div mymovie-details mymovie="myMovie" />

        </div>
    </div>
</div>