<div ng-controller ="AddMovieController">
    <div  style="padding-left:30%; padding-bottom:2%">
         
        <div class="list-group-item list-group-item-info" style="width:50%;">
            
                <img src="http://ia.media-imdb.com/images/M/MV5BNTgxOTI4NzY2M15BMl5BanBnXkFtZTgwMjY3MTM2NDE@._V1_SX214_AL_.jpg" style="width:90px">
                <label for="usr" pwd" style="display: inline-block; width: 105px; text-align: right;">Title:</label>
                <input type="text" " style="width:200px" id="usr"><br/>
                <label for="pwd" pwd" style="display: inline-block; width: 200px; text-align: right; ">Genre:</label>
                <input type="text" style="width:200px"  style="width:80px" id="pwd"><br/>
                <label for="pwd" pwd" style="display: inline-block; width: 200px; text-align: right; padding-top:45px">Year:</label>
                <input type="text" style="width:200px"  style="width:80px" id="pwd"><br/>
                <label for="pwd" pwd" style="display: inline-block; width: 200px; text-align: right; padding-top:45px">Starring:</label>
                <input type="text" style="width:200px"  style="width:80px" id="pwd"><br/>
                <button type="button" class="btn btn-primary" style="width:100px">Add cover</button>
                <label for="pwd" style="display: inline-block; width: 95px; text-align: right; padding-top:45px">Director:</label>
                <input type="text" style="width:200px"  style="width:80px" id="pwd"><br/>
      
                <label for="pwd" pwd" style="display: inline-block; text-align: right; padding-top:20px;">Description:</label>
                <textarea name="Text1" style="width:405px; " rows="5"></textarea>
                <button type="button" onclick="location.href = '/#/mymovies'" class="btn btn-primary" style="width:100px;">Add film</button>
            
        </div>
        <div mymovie-details mymovie="myMovie" />
        
    </div>
</div>
</div>