
<div ng-controller="AddMovieController">
    <div style="padding-left:30%; padding-bottom:2%">

        <div class="list-group-item list-group-item-warning" style="width:50%;">

            <img src="http://www.evervote.com/im_vote/image_2_49.jpg" style="width:90px">
            <label for="usr" pwd" style="display: inline-block; width: 105px; text-align: right;">Email:</label>
            <input type="text" " style=" width:200px" id="usr"><br />
            <label for="pwd" pwd" style="display: inline-block; width: 200px; text-align: right; ">First name:</label>
            <input type="text" style="width:200px" style="width:80px" id="pwd"><br />
            <label for="pwd" pwd" style="display: inline-block; width: 200px; text-align: right; padding-top:45px">Last name:</label>
            <input type="text" style="width:200px" style="width:80px" id="pwd"><br />
            <label for="pwd" pwd" style="display: inline-block; width: 200px; text-align: right; padding-top:45px">Password:</label>
            <input type="text" style="width:200px" style="width:80px" id="pwd"><br />
            <label for="pwd" pwd" style="display: inline-block; width: 200px; text-align: right; padding-top:45px">Confirm password:</label>
            <input type="text" style="width:200px" style="width:80px" id="pwd"><br />
            <div style="padding-top:20px; padding-left:200px">
                <button type="button" class="btn btn-warning" style="width:100px">Add picture</button>
                <button type="button" onclick="location.href = '/#/mymovies'" class="btn btn-warning" style="width:100px;">Save profile</button>
            </div>
        </div>
        <div mymovie-details mymovie="myMovie" />

    </div>
</div>